{% extends 'layout.html.twig' %}
{% from "macros.html.twig" import input  %}

{% block title %}Log in!{% endblock %}

{% block content %}
<div class="row">
    <div class="card-panel hoverable col s12 m10 l6 offset-m1 offset-l3">
        {{ form_start(form, {'class': 'col s12'}) }}

            <div class="col s12 center" style="margin-bottom: 10px;">
                <h5> Ingresar </h5>
            </div>
            {{ input(form.username, 'perm_identity', 'col s12 m12 l12') }}
            {{ input(form.password, 'lock_open', 'col s12 m12 l12') }}

            <div class="col s12 right-align" style="margin-bottom: 20px">
                <label>
                    <input type="checkbox" name="_remember_me" class='filled-in checkbox-blue-grey'>
                    <span>recordarme?</span>
                </label>
            </div>

            <div class="col s12 right-align" style="margin-bottom: 20px">
                <button type="submit" class="btn waves-effect waves-light light-blue accent-4">Acceder<i
                        class="material-icons right">check</i></button>
            </div>
            {{ form_row(form._token, {'attr': {'value': csrf_token("authenticate")}}) }}
        {{ form_end(form) }}
    </div>
</div>
{% endblock content %}
