{% extends 'layout.html.twig' %}
{% from "macros.html.twig" import input%}

{% block title %}Register{% endblock %}

{% block cssContent %}
{% endblock cssContent %}

{% block content %}
<div class="row">
    <div class="card-panel col s12 m8 l8">
        {{ form_start(registrationForm, {'class': 'col s12'}) }}
            <div class="col s12 center" style="margin-bottom: 10px;">
                <h5> Registrarse </h5>
            </div>

            {{ input(registrationForm.username, 'perm_identity', 'col s12 m12 l12') }}
            {{ input(registrationForm.first_name, 'person', 'col s12 m12 l6') }}
            {{ input(registrationForm.last_name, 'person_add', 'col s12 m12 l6') }}
            {{ input(registrationForm.email, 'mail_outline', 'col s12 m12 l12') }}
            {{ input(registrationForm.password.first, 'lock_open', 'col s12 m12 l6', false) }}
            {{ input(registrationForm.password.second, 'lock_outline', 'col s12 m12 l6', false) }}

            <div class="col s12">
                {% if registrationForm.password.first.vars.errors|length %}
                <ul class="invalido" style="display: block">
                    <li><span><i class="material-icons">cancel</i>{{ form_errors(registrationForm.password.first) }}</span></li>
                </ul>
                {% endif %}
                {% if registrationForm.password.second.vars.errors|length %}
                <ul class="invalido" style="display: block">
                    <li><span><i class="material-icons">cancel</i>{{ form_errors(registrationForm.password.second) }}</span></li>
                </ul>
                {% endif %}
            </div>
            <div class="col s12 right-align" style="margin-bottom: 20px">
                <button id="btnRegistrar" type="submit" class="btn waves-effect waves-light light-blue accent-4"
                    >Enviar<i class="material-icons right">send</i></button>
            </div>
        {{ form_end(registrationForm) }}
    </div>
</div>

{% endblock content %}

{% block scriptsContent %}
{% endblock scriptsContent %}