{% extends "base.html.twig" %}

{% block stylesheets %}
  <link rel="stylesheet" type="text/css" href="{{ asset('css/materialicons.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ asset('css/materialize.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ asset('css/general.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ asset('css/prism.css') }}">
  <link rel="icon" href="{{ asset('favicon.ico') }}">


  {% block cssContent %}
  {% endblock cssContent %}
{% endblock stylesheets %}

{% block body %}
  <main>
    <header>
      <div class="navbar-fixed">
        <nav>
          {% if app.user %}
          <ul id="dropdown1" class="dropdown-content">
            {% if app.user.roles[0] in ['ROLE_ADMIN', 'ROLE_EDITOR'] %}
            <li><a href="list_post" class="light-blue-text text-accent-4">Mis post</a></li>
            {% endif %}
            <li><a href="{{ path('user_profile') }}" class="light-blue-text text-accent-4">Perfil</a></li>
            <li class="divider"></li>
            <li><a href="{{ path('app_logout') }}" class="light-blue-text text-accent-4">Cerrar session</a></li>
          </ul>
          {% endif %}
          <div class="nav-wrapper light-blue accent-4">
            <a href="/" class="brand-logo">Intento de pagina</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            {% if not app.user %}
            <ul class="right hide-on-med-and-down">
              <li><a href="{{ path('app_register') }}">registrarse</a></li>
              <li><a href="{{ path('app_login') }}">login</a></li>
            </ul>
            {% else %}
            <ul class="right hide-on-med-and-down">
              <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">{{app.user.username}}</a></li>
            </ul>
            {% endif %}
          </div>
        </nav>
      </div>

      {% if not app.user %}
      <ul class="sidenav sidenav-fixed invesible-top col l1" id="mobile-demo">
        {% block navbar %}
        <li>
          <a>
            <form action="search" method="get" id="form_busqueda">
              <div class="input-field noline">
                <input placeholder="Buscar..." id="search" name="search" class="validate" type="text">
                <i class="material-icons prefix">search</i>
              </div>
            </form>
          </a>
        </li>
        <div class="divider"></div>
        {% endblock navbar %}
        <li><a href="ploting">Ploting</a></li>
        <li><a href="{{ path('app_register') }}">registrarse</a></li>
        <li><a href="{{ path('app_login') }}">login</a></li>
      </ul>
      {% else %}
      <ul class="sidenav sidenav-fixed invesible-top" id="mobile-demo">

        {{ block('navbar') }}

        <li><a href="ploting" style="color: #0a0d1a;">Ploting</a></li>
        {% if app.user.roles[0] in ['ROLE_ADMIN', 'ROLE_EDITOR'] %}
        <li><a href="list_post}">Mis post</a></li>
        {% endif %}
        <li>
          <ul class="collapsible collapsible-accordion">
            <li>
              <a class="collapsible-header" tabindex="0">{{app.user.username}}</a>
              <div class="collapsible-body">
                <ul>
                  <li>
                    <a href="{{ path('user_profile') }}">Ver perfil</a>
                  </li>
                  <li>
                    <a href="{{ path('profile_edit') }}">Editar perfil</a>
                  </li>
                </ul>
              </div>
            </li>
          </ul>
        </li>
        <li><a href="{{ path('app_logout') }}">Cerrar session</a></li>
        {% block post_tools %}
        {% endblock post_tools %}
      </ul>
      {% endif %}
    </header>

    <div class="row content_margin">
      <div class="container">
        <div class="col s12 m12 l12">
          {% block content %}
          {% endblock content %}
        </div>
      </div>
    </div>

  </main>
{% endblock body %}

{% block javascripts %}
  <script src="{{ asset('js/jquery-3.5.0.min.js') }}" type="text/javascript">
  </script>
  <script src="{{ asset('js/popper.min.js') }}" type="text/javascript">
  </script>
  <script src="{{ asset('js/materialize.min.js') }}" type="text/javascript">
  </script>
  <script src="{{ asset('js/prism.js') }}">
  </script>
  <script src="{{ asset('js/scripts.js') }}" type="text/javascript">
  </script>
  {% block scriptsContent %}
  {% endblock scriptsContent %}
{% endblock javascripts %}